<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}

</head>
<body>
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<div class="container">
    <h1 style="text-align: center">{{ _('Register') }}</h1>
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form" class="form-signin">
        {{ register_user_form.hidden_tag() }}
        <div class="form-group">
            <label for="email">Email address</label>
            {{ register_user_form.email(class='form-control', placeholder='email address') }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ register_user_form.password(class='form-control', placeholder='password') }}
        </div>
        <div class="form-group">
            <label for="password_confirm">Retype password</label>
            {% if register_user_form.password_confirm %}
            {{ register_user_form.password_confirm(class='form-control', placeholder='password') }}
            {% endif %}
        </div>

        {{ register_user_form.submit(class='btn btn-lg btn-primary btn-block') }}
        <a href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Already have an account? {{
            _('Login') }}</a>

    </form>
    <!--{% include "security/_menu.html" %}-->

</div>
</body>
</html>