<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}

</head>
<body>
<h1>Register</h1>
<form action="/register" method="POST" name="register_user_form">
  <input id="next" name="next" type="hidden" value="">
<input id="csrf_token" name="csrf_token" type="hidden" value="ImI3YjBmYzc0ZjU0N2IwYTU5MzIxOGQ2NzMxNTllZjYyNTczZjQ1MDAi.DYl6iw.4BAEXStvFVhpk6DU299W0_JzE4Y">

  <p>
    <label for="email">Email Address Test</label> <input id="email" name="email" type="text" value="">

  </p>


  <p>
    <label for="password">Password</label> <input id="password" name="password" type="password" value="">

  </p>



  <p>
    <label for="password_confirm">Retype Password</label> <input id="password_confirm" name="password_confirm" type="password" value="">

  </p>



  <p><input id="submit" name="submit" type="submit" value="Register"></p>

</form>

<h2>Menu</h2>
<ul>
  <li><a href="/login">Login</a></li>

  <li><a href="/register">Register</a><br></li>



</ul>
</body>
</html>