/*---------STYLE OVERRIDES---------*/

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*---------MAIN CSS------------*/

.almond-background {
    background-color: blanchedalmond;
}

.gray-background {
    background-color: gainsboro;
    margin-bottom: 20px !important;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.full-height {
    height: 100vw !important;
}