/*---------STYLE OVERRIDES---------*/

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*---------MAIN CSS------------*/

.almond-background {
    background-color: blanchedalmond;
}

.gray-background {
    background-color: gainsboro;
    margin-bottom: 20px !important;
    border-radius: 20px;
    box-shadow: 2px 2px 2px darkgrey;
}

.full-height {
    height: 100vw !important;
}

.device-container{
    background-color: white;
    /*border-radius: 10px;*/
    box-shadow: 2px 2px 5px darkgrey;
    border-color: black;
    height: 15vw;
    width: 28%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    float: left;
    padding: 5px 10px 5px 10px;
}