<div class="col-sm-1 left-navbar sidebar full-height">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1 sidebar-button"><a href="devices"><img
                src="{{ url_for('static', filename='icons/wifi.svg')}}" height="40px"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1 sidebar-button"><a href="power"><img
                src="{{ url_for('static', filename='icons/light-bulb.svg')}}" height="40px"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1 sidebar-button"><a href="water"><img
                src="{{ url_for('static', filename='icons/raindrop.svg')}}" height="40px"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1 sidebar-button"><a href="temperature"><img
                src="{{ url_for('static', filename='icons/thermometer.svg')}}" height="40px"></a>
        </div>
    </div>
</div>