<!DOCTYPE html>
<html>
<head>
    {% include 'includes/head.html' %}
</head>
<body class="hold-transition skin-black sidebar-mini">
{% include 'includes/navbar.html' %}
<div class="container-fluid">
    <div class="row">
        {% include 'includes/sidebar.html' %}
        <div class="col-sm-9">
            <div class="row">

                <div class="col-sm-12">
                    <div id="chart-01">
                        <canvas id="myChart" width="400" height="400"></canvas>

                    </div>

                    <br>
                </div>

                <div class="col-sm-12">
                    <div id="chart-02">
                        <canvas id="myChart1" width="400" height="400"></canvas>

                    </div>
                    <br>
                </div>

            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-sm-4">
            <div id="chart-03"></div>
            <br>
        </div>

        <div class="col-sm-4">
            <div id="chart-04"></div>
            <br>
        </div>

        <div class="col-sm-4">
            <div id="chart-05"></div>
            <br>
        </div>

    </div>
    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>
</div>

<!-- Project Analytics -->
<script type="text/javascript" src="../../assets/js/keen-analytics.js"></script>
</body>
</body>
</html>