<!DOCTYPE html>
<html>
<head>
    {% include 'includes/head.html' %}
</head>
<body class="hold-transition skin-black sidebar-mini">
{% include 'includes/navbar.html' %}
<div class="container-fluid" style="margin-top: 11px;">
    <div class="row">
        {% include 'includes/sidebar.html' %}
        <div class="col-sm-10 content-div">
            <div class="row">
                <div class="col-sm-2 offset-sm-10">
                    <button class="btn btn-primary" onclick="getDeviceStatus()"></button>
                </div>
            </div>
            <div class="device-container">
                <form method="post">
                    <div class="form-group">
                        <label for="device_serial_number">SN:</label>
                        <input type="text" id="device_serial_number" name="device_serial_number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="device_name">Name:</label>
                        <input type="text" id="device_name" name="device_name" class="form-control">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio" id="device-container-radio-power"
                               value="power" checked>
                        <label class="form-check-label" for="device-container-radio-power">
                            Power
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio" id="device-container-radio-water"
                               value="water">
                        <label class="form-check-label" for="device-container-radio-water">
                            Water
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio"
                               id="device-container-radio-temperature"
                               value="temperature">
                        <label class="form-check-label" for="device-container-radio-temperature">
                            Thermometer
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="addDevice()">Add Device</button>
                </form>
            </div>
            {% for device in devices %}
            <div class="device-container" id="device-container-{{loop.index}}">
                {{device.serial_number}}
                {{device.name}}
                {% if device.status == "down"%}
                <span class="alert alert-danger" id="{{device.serial_number}}-status-down">down</span>
                <span class="alert alert-success" id="{{device.serial_number}}-status-up" hidden>up</span>
                {% else %}
                <span class="alert alert-danger" id="{{device.serial_number}}-status-down">down</span>
                <span class="alert alert-success" id="{{device.serial_number}}-status-up">up</span>
                {% endif %}
                <button type="button" class="btn btn-primary"
                        onclick="showEditDevice('{{loop.index}}', '{{device.device_type}}')">Edit Device
                </button>
            </div>
            <div class="device-container" id="edit-device-container-{{loop.index}}" style="display: none">
                <form method="post">
                    <div class="form-group">
                        <label for="device_serial_number">SN:</label>
                        <input type="text" id="edit_device_serial_number" name="device_serial_number"
                               value="{{device.serial_number}}"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="device_name">Name:</label>
                        <input type="text" id="edit_device_name" name="device_name" value="{{device.name}}"
                               class="form-control">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio"
                               id="edit-device-container-radio-power-{{loop.index}}"
                               value="power">
                        <label class="form-check-label" for="edit-device-container-radio-power-{{loop.index}}">
                            Power
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio"
                               id="edit-device-container-radio-water-{{loop.index}}"
                               value="water">
                        <label class="form-check-label" for="edit-device-container-radio-water-{{loop.index}}">
                            Water
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio"
                               id="edit-device-container-radio-temperature-{{loop.index}}"
                               value="temperature">
                        <label class="form-check-label" for="edit-device-container-radio-temperature-{{loop.index}}">
                            Thermometer
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="editDevice('{{device.id}}')">Edit Device
                    </button>
                </form>
            </div>
            {% endfor %}

        </div>
    </div>


    <div class="row">

        <div class="col-sm-4">
            <div id="chart-03"></div>
            <br>
        </div>

        <div class="col-sm-4">
            <div id="chart-04"></div>
            <br>
        </div>

        <div class="col-sm-4">
            <div id="chart-05"></div>
            <br>
        </div>

    </div>
    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>
</div>

<!-- Project Analytics -->
<script type="text/javascript" src="../../assets/js/keen-analytics.js"></script>
</body>
</body>
</html>